h1{
    margin: auto;
    text-align: center;
    text-decoration: underline;
    font-size: 4rem;
    
}

img {
    
    height: auto;
    width: 180px;
    
}

.ingredients{
    margin: auto;
    margin-top: 10px;
    height: auto;
    width: 380px;
    text-align: center;
    border-radius: 5%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.479);
    padding-right: 100px;
    padding-left: 100px;
    font-size: 1.5rem;
}

.ingredients h2{
    text-decoration: underline;
    
}
.ingredients h3 {
    padding-top: 13px;
}
li {
    text-align: center;
    
}
ol {
    padding-right: 30px;
    padding-bottom: 49px;
}
ul {
    padding-right: 30px;
    padding-bottom: 49px;
}

a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: black;
}
img {
    margin-top: 50px;
    border-radius: 25%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
}